body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: sans-serif !important;
  height: 100%;
  justify-content: center;
  margin: 25px;
  width: 100%;
}

.bold-para {
  font-weight: bold;
}

.breakpoint-button {
  background-color: transparent;
  border-radius: 50%;
  height: 75%;
  width: 75%;
}

.breakpoint-button-active {
  background: var(--vscode-button-background) !important;
  opacity: 1;
}

.breakpoint-button:hover {
  opacity: 0.5 !important;
}

.breakpoint-button:focus {
  outline-color: transparent !important;
}

.breakpoint-column {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.button-1 {
  margin: 15px;
  outline: none !important;
  padding: 5px 15px;
  transition: 0.1s;
  width: 100px;
}

.button-1:active {
  transform: scale(0.95);
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.container-2 {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.1s;
}

.function-buttons {
  display: flex;
  justify-content: flex-start;
  width: 500px;
}

.hide {
  display: none !important;
}

.node-name {
  height: 25px;
  padding: 5px 0px 5px 5px;
  width: 500px;
}

.node-name-active {
  font-weight: bolder;
}

.testmethod-name {
  padding-left: 20px;
}

.visible-hide {
  visibility: hidden;
}

td {
  border: 1px solid var(--vscode-input-border);
}
