body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: sans-serif !important;
  height: 100%;
  justify-content: center;
  margin: 25px;
  width: 100%;
}

.graph-container {
  display: flex;
  height: auto;
  overflow: auto;
  width: 1200px;
}

#main-graph {
  height: 600px;
  width: 800px;
}

#cursor-graph {
  height: 600px;
  width: 200px;
}
